body {
	background: black;
	padding-top: 50px;
}

.postcard {
	background: white;
	width: 450px;
	height: auto;
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	margin: 0;
}

.postcard-body {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.body-left {
	width: 55%;
}

.body-left p {
	margin-top: 0;
}

.body-right {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.body-right input {
	border: none;
	border-bottom: 1px solid #888;
	background: transparent;
	padding: 5px 0px;
	outline: none;
	font-size: 15px;
	color: #555;
}

.postcard-footer {
	text-align: center;
	margin-top: 20px;
}

button {
	background-color: rgb(218, 214, 214);
	padding: 5px 10px;
	cursor: pointer;
}
